.aboutIntensive {
  overflow: visible;
}

.titleAboutIntensive {
  color: #5c5141;
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
}

.aboutMainText {
  text-transform: uppercase;
  color: #5c5141;
  line-height: 2.3;
  font-weight: 500;
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
}

.imgBetweenText {
  display: inline-flex;
  max-width: 70px;
  max-height: 35px;
  margin: auto;
  float: none;
  vertical-align: middle;
}

.wrapperTeacher {
  margin-top: 50px;
}

.imgAboutIntensive {
  object-fit: cover;
  object-position: bottom;
  border-radius: 10px;
  max-height: 255px;
  margin-bottom: 15px;
}

.imgAboutIntensive2 {
  object-position: center;
}

.womanText {
  font-weight: 500;
  margin-bottom: 40px;
  margin-left: 30px;
}

.womanText:first-child {
  margin: 0px 20px 0px 0;
}

.teacherMe:last-child {
  display: flex;
  flex-direction: column-reverse;
  text-align: right;
}

.teacherMe {
  position: relative;
}

.womanTextIn {
  color: #872330;
  font-family: "Second Road";
  font-size: 28px;
}

.teacherMe:first-child::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #5c5141;
  bottom: -9px;
  left: 30px;
  border-radius: 50%;
  z-index: 55;
}

.teacherMe:first-child::after {
  position: absolute;
  content: "";
  width: 99%;
  height: 0.5px;
  background-color: #5c5141;
  bottom: -7px;
  z-index: 55;
  left: 30px;
}

.teacherMe:last-child::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #5c5141;
  bottom: -9px;
  right: 20px;
  z-index: 55;
  border-radius: 50%;
}

.teacherMe:last-child::after {
  position: absolute;
  content: "";
  width: 105%;
  height: 0.5px;
  background-color: #5c5141;
  bottom: -7px;
  right: 20px;
  z-index: 55;
  object-fit: cover;
}

@media (min-width: 1158px) {

  .aboutIntensive{
    overflow: hidden;
  }
  .titleAboutIntensive {
    font-size: 38px;
    margin-bottom: 50px;
  }

  .aboutMainText {
    font-size: 28px;
    margin-bottom: 80px;
  }

  .teacherMe {
    display: flex;
    gap: 80px;
    align-items: center;
  }

  .womanText {
    font-size: 24px;
  }

  .womanTextIn {
    font-size: 54px;
  }

  .womanText {
    max-width: 480px;
  }

  .teacherMe:last-child {
    flex-direction: row;
    justify-content: right;
  }

  .wrapperTeacher {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .teacherMe:first-child::before,
  .teacherMe:first-child::after {
    display: none;
  }

  .teacherMe:last-child::before,
  .teacherMe:last-child::after {
    display: none;
  }

  .womanText:first-child::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: #5c5141;
    bottom: 32%;
    right: 30.8%;
    border-radius: 50%;
  }

  .womanText:first-child::after {
    position: absolute;
    content: "";
    width: 110%;
    height: 0.5px;
    background-color: #5c5141;
    bottom: 32.8%;
    right: 30.8%;
    object-fit: cover;
  }

  .womanText:last-child::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: #5c5141;
    bottom: 32%;
    left: 30.8%;
    border-radius: 50%;
  }

  .womanText:last-child::after {
    position: absolute;
    content: "";
    width: 110%;
    height: 0.5px;
    background-color: #5c5141;
    bottom: 32.8%;
    left: 30.8%;
    object-fit: cover;
  }
}
