.titleAboutMe {
  font-size: 26px;
  color: #5c5141;
  text-align: center;
  margin-bottom: 20px;
}

.imgMe {
  min-height: 318px;
  min-width: 234px;
  margin: 0 auto 20px;
  background-size: cover;
  background-position: center;
  animation: backgroundAnimation 10s infinite alternate;
  border-radius: 10px;
}

@keyframes backgroundAnimation {
  0% {
    background-image: url('../img/me1.webp');
  }
  50% {
    background-image: url('../img/me2.webp');
  }
  100% {
    background-image: url('../img/me3.webp');
  }
}

.aboutMeList{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.meList{
  display: flex;
  gap: 10px;
}

@media (min-width:1158px){

  .titleAboutMe{
    font-size: 38px;
    margin-bottom: 50px;
  }

  .wrapperInfoMe{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  .imgMe{
    min-width: 460px;
    min-height: 640px;
  }

  .aboutMeList{
    gap: 30px;
  }

  .aboutMeList::before{
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #5C5141;
    bottom: 19%;
    left: 42.6%;
    border-radius: 50%;
    z-index: -1;
  }

  .aboutMeList::after{
    position: absolute;
    content: '';
    width: 55%;
    height: 0.5px;
    background-color: #5C5141;
    bottom: 19.4%;
    left: 42.6%;
    object-fit: cover;
    z-index: -1;
  }

  .meList{
    font-size: 24px;
  }
}