.titleAboutMe {
  font-size: 26px;
  color: #5c5141;
  text-align: center;
  margin-bottom: 20px;
}

.imgMe {
  position: relative;
  min-height: 318px;
  max-width: 234px;
  margin: 0 auto 20px;
  border-radius: 10px;
  overflow: hidden;
}

.imgMe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: backgroundAnimation 7s infinite;
  border-radius: 10px;
  z-index: 1; /* Для того чтобы ::before был выше основного контента */
  transition: background 1s ease; /* Плавный переход */
  transform: translateX(100%);
}

@keyframes backgroundAnimation {
  0%,
  33% {
    background-image: url("../img/me1.webp");
    transform: translateX(0%);
  }
  34%,
  68% {
    background-image: url("../img/me2.webp");
    transform: translateX(0%);
  }
  69%,
  100% {
    background-image: url("../img/me3.webp");
    transform: translateX(0%);
  }
}

.aboutMeList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.meList {
  display: flex;
  gap: 10px;
}

@media (min-width: 1158px) {
  .titleAboutMe {
    font-size: 38px;
    margin-bottom: 50px;
  }

  .wrapperInfoMe {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  .imgMe {
    min-width: 460px;
    min-height: 640px;
  }

  .aboutMeList {
    gap: 30px;
  }

  .aboutMeList::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: #5c5141;
    bottom: 19%;
    left: 42.6%;
    border-radius: 50%;
    z-index: -1;
  }

  .aboutMeList::after {
    position: absolute;
    content: "";
    width: 55%;
    height: 0.5px;
    background-color: #5c5141;
    bottom: 19.4%;
    left: 42.6%;
    object-fit: cover;
    z-index: -1;
  }

  .meList {
    font-size: 24px;
  }
}
