header {
  background-color: #5c5141;
  border-radius: 0 0 10px 10px;
  padding: 10px 0px;
  position: sticky;
  top: 0;
  z-index: 888;
}

.mainNavListProgramDesc {
  display: none;
}

.navHeader {
  display: none;
}

.mainConsultationHeaderBtn {
  display: none;
}

.wrapperHeader {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.mainLogo,
.burgerMenu {
  fill: #fff;
}

@media (min-width: 1158px) {
  .mainNavListProgramDesc {
    display: inline-block;
  }
  .mainNavListProgram {
    display: none;
  }
  .burgerMenu {
    display: none;
  }
  .wrapperHeader{
    align-items: center;
  }

  .navHeader {
    display: flex;
    align-items: center;
  }

  .mainNavHeader {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .anchorNavHeader {
    font-size: 16px;
    color: #fff;
    padding: 10px 0;
    transition: 0.3s;
  }

  .anchorNavHeader:hover {
    color: #b9b9b9;
  }

  .mainConsultationHeaderBtn {
    display: block;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    max-width: 177px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s;
    letter-spacing: 1.2px;
    height: 38px;
  }

  .mainConsultationHeaderBtn:hover,
  .mainConsultationHeaderBtn:focus {
    background-color: #e0e6d3;
    color: #000;
  }
}
