header{
    background-color: #5C5141;
    border-radius: 0 0 10px 10px;
    padding: 10px 0px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navHeader{
    display: none;
}

.mainConsultationHeaderBtn{
    display: none;
}

.wrapperHeader{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.mainLogo, .burgerMenu{
    fill: #fff;
}

@media (min-width: 1158px){
    .burgerMenu{
        display: none;
    }   

    .navHeader{
        display: flex;
        align-items: center;
    }

    .mainNavHeader{
        display: flex;
        gap: 30px;
        align-items: center;
    }

    .anchorNavHeader{
        font-size: 16px;
        color: #fff;
        padding: 10px 0;
        transition: 0.3s;
    }

    .anchorNavHeader:hover{
        color: #b9b9b9;
    }

    .mainConsultationHeaderBtn{
        display: block;
        border: 1px solid #fff;
        border-radius: 10px;
        background-color: transparent;
        color: #fff;
        max-width: 154px;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        transition: 0.3s;
        letter-spacing: 1.2px;
    }

    .mainConsultationHeaderBtn:hover, .mainConsultationHeaderBtn:focus{
        background-color: #E0E6D3;
        color: #000;
    }
}