.hero{
    padding: 50px 0 60px;
    color: #F5F9FC;
    background-image: linear-gradient(rgba(20, 11, 3, 0.80), rgba(20, 11, 3, 0.80) ),
     url(../img/Hero.webp);
     background-size: cover;
     background-repeat: no-repeat;
    margin-top: -10px;
}

.wrapperHero{
    text-align: center;
}

.mainTitle{
    font-size: 24px;
    font-weight: 400;
    max-width: 193px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
}

.scndMainTitle{
    font-size: 16px;
    color: #F5F9FC;
    margin-bottom: 15px;
}

.textUnderMainTitle{
    color: #BDC3AF;
    font-weight: 500;
    margin-bottom: 42px;
}

.wrapperDateLocation{
    display: flex;
    flex-direction: column;
}

.iconLocation{
    fill: rgba(255, 255, 255, 0.5);
}

.locationText{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px 0;
    gap: 5px;
}

.locationText:first-child{
    border-bottom: 1px solid #F5F9FC;
    margin-bottom: 0;
}

.iconDate{
    fill: transparent;
}

.bookingText{
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.mainConsultationBtn{
    padding: 13px 35px;
    border: none;
    border-radius: 10px;
    background-color: #BDC3AF;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.bookingTextBtn{
    text-transform: uppercase;
}