.hero {
  padding: 50px 0 60px;
  color: #f5f9fc;
  background-image: linear-gradient(rgba(20, 11, 3, 0.8), rgba(20, 11, 3, 0.8)),
    url(../img/Hero.webp);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -10px;
  background-position: center;
}

.wrapperHero {
  text-align: center;
}

.bookingTextBtn p {
  font-weight: 700;
}

.mainTitle {
  font-size: 24px;
  font-weight: 400;
  max-width: 193px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
}

.scndMainTitle {
  font-size: 16px;
  color: #f5f9fc;
  margin-bottom: 15px;
}

.textUnderMainTitle {
  color: #bdc3af;
  font-weight: 500;
  margin-bottom: 42px;
}

.wrapperDateLocation {
  display: flex;
  flex-direction: column;
}

.iconLocation {
  fill: rgba(255, 255, 255, 0.5);
}

.locationText {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px 0;
  gap: 5px;
}

.locationText:first-child {
  border-bottom: 1px solid #f5f9fc;
  margin-bottom: 0;
}

.iconDate {
  fill: transparent;
}

.bookingText {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}

.mainConsultationBtn {
  padding: 13px 35px;
  border: none;
  border-radius: 10px;
  background-color: #bdc3af;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
  transition: 0.3s;
}

.mainConsultationBtn:hover,
.mainConsultationBtn:focus {
  background-color: #e0e6d3;
}

.bookingTextBtn {
  text-transform: uppercase;
}

@media (min-width: 1158px) {
  .hero {
    padding: 180px 0 230px;
    background-position: left;
    background-image: linear-gradient(
        rgba(20, 11, 3, 0.8),
        rgba(20, 11, 3, 0.8)
      ),
      url(../img/h.webp);
  }

  .mainTitle {
    font-size: 52px;
    max-width: 100%;
  }

  .scndMainTitle {
    font-size: 28px;
    margin-bottom: 22px;
  }

  .textUnderMainTitle {
    font-size: 22px;
    margin-bottom: 50px;
    position: relative;
  }

  .textUnderMainTitle::after {
    content: "";
    width: 800px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 460%;
    transform: translate(-50%, -50%);
  }

  .locationText {
    font-size: 22px;
  }

  .locationText:first-child {
    border: none;
  }

  .bookingText {
    font-size: 24px;
    font-weight: 500;
  }

  .wrapperMainConsultation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .mainConsultationBtn {
    font-size: 18px;
    margin: auto 0;
  }

  .bookingTextBtn {
    max-width: 150px;
    text-transform: none;
  }

  .bookingTextBtn span {
    font-weight: 600;
  }
}
