.wrapperForm {
  text-align: center;
}

.wrapperFormDesc {
  display: none;
}

.formtext {
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 500;
  font-family: "Montserrat";
  max-width: 300px;
  line-height: 2;
}

.jfIMG {
  display: inline-block;
  max-width: 50px;
  max-height: 25px;
  vertical-align: middle;
  margin: 0 5px;
}

.formBtn {
  padding: 13px 35px;
  color: #140b03;
  font-weight: 600;
  background-color: #bdc3af;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}

.formBtn:hover,
.formBtn:focus {
  background-color: #e0e6d3;
}

@media (min-width: 1158px) {
  .formtext {
    font-size: 28px;
    margin-bottom: 50px;
    max-width: 100%;
  }

  .wrapperForm {
    display: none;
  }

  .wrapperFormDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .formBtn {
    font-size: 16px;
    max-width: 220px;
    margin: 0 auto;
  }
}
