.myInst{
    padding-bottom: 30px;
}
.titleInstagram{
    font-size: 26px;
    color: #5C5141;
    margin-bottom: 20px;
    text-align: center;
}

.wrapperPhotoWithInst{
    margin-bottom: 40px;
}

.wrapperMyInst{
    text-align: center;
}

.linkToInstBtn{
    padding: 13px 55px;
    background-color: #BDC3AF;
    font-weight: 600;
    font-size: 12px;
    color: #000;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
}

.photoInstImg{
    border-radius: 10px;
}

.photoInstMob{
    display: none;
}

@media (min-width:1158px){
    .titleInstagram{
        font-size: 38px;
    }

    .wrapperPhotoWithInst{
        display: flex;
        gap: 40px;
    }

    .photoInstImg{
        max-width: 360px;
        max-height: 400px;
        object-fit: cover;
    }

    .photoInstImgDesc{
        object-position: bottom;
    }

    .photoInstMob{
        display: block;
    }

    .linkToInstBtn{
        font-size: 16px;
    }

    .linkToInstBtn:hover, .linkToInstBtn:focus{
        background-color: #E0E6D3;
    }
}
