.reviews{
    background-color: #BDC3AF;
    border-radius: 10px;
}

.titleReviews{
    font-size: 26px;
    color: #5C5141;
    margin-bottom: 20px;
    text-align: center;
}

.reviewsIMG{
    border-radius: 10px;
}

.titleUserComment{
    font-size: 14px;
    font-weight: 600;
    color: #5C5141;
    font-family: 'Montserrat';
}

@media (min-width:1158px){
    .titleReviews{
        font-size: 38px;
    }
}