@import url(./reset.css);
@import url(./header.css);
@import url(./hero.css);
@import url(./aboutIntensive.css);
@import url(./aboutMe.css);
@import url(./answer.css);
@import url(./footer.css);
@import url(./iKnow.css);
@import url(./justForm.css);
@import url(./myInst.css);
@import url(./ourWilla.css);
@import url(./price.css);
@import url(./program.css);
@import url(./reviews.css);
@import url(./shedule.css);
@import url(./swiper.css);

.programDesc {
  display: none;
}

body {
  position: relative;
}

.container {
  /* Контейнер для моб. версии */
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .container {
    /* Контейнер для планшетной версии */
    max-width: 768px;
    font-size: 16px;
    padding: 0 140px;
  }
}

@media (min-width: 1158px) {
  .container {
    /* Контейнер для комп. версии */
    max-width: 1440px;
  }

  .programDesc {
    display: block;
  }

  .program {
    display: none;
  }
}

.wrapperBurgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  background-color: #5c5141;
  padding: 25px;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.2s, opacity 0.3s;
}

.wrapperLogoCloseBurger {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.burgerSVG {
  fill: #f5f9fc;
}

.burgerNav {
  text-align: center;
}

.burgerNavList {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.burgerAnchorLink {
  color: #f5f9fc;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
}

.burgerAnchorLink:hover,
.burgerAnchorLink:focus {
  color: #bdc3af;
}

.openBurgerMenu {
  opacity: 1;
  transform: translateX(0%);
}

.wrapperFormWindow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 11, 3, 0.7);
}

.modalWindow {
  position: absolute;
  z-index: 1000;
  padding: 30px;
  top: 50%;
  left: 50%;
  width: 327px;
  height: 370px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #f5f9fc;
  border-radius: 10px;
  text-align: center;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.titleFormWindow {
  font-size: 22px;
  color: #5c5141;
  margin-bottom: 5px;
}

.textFormWindow {
  font-size: 14px;
  font-weight: 500;
  color: #5c5141;
  max-width: 166px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.modalInputC {
  margin-bottom: 15px;
  padding: 12px;
  border: 0.5px solid #5c5141;
  border-radius: 10px;
  color: #5c5141;
}

.modalInputC::placeholder {
  opacity: 0.6;
}

.mainConsultationBtnModal {
  border: none;
  border-radius: 10px;
  background-color: #bdc3af;
  padding: 13px 35px;
  max-width: 172px;
  margin: 0 auto;
  font-weight: 600;
  margin-top: 15px;
  color: #000;
  text-transform: uppercase;
}

.openModalWindow {
  display: block;
}
