@import url(./reset.css);
@import url(./header.css);
@import url(./hero.css);
@import url(./aboutIntensive.css);
@import url(./aboutMe.css);
@import url(./answer.css);
@import url(./footer.css);
@import url(./iKnow.css);
@import url(./justForm.css);
@import url(./myInst.css);
@import url(./ourWilla.css);
@import url(./price.css);
@import url(./program.css);
@import url(./reviews.css);
@import url(./shedule.css);
@import url(./swiper.css);

.container {
  /* Контейнер для моб. версии */
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .container {
    /* Контейнер для планшетной версии */
    max-width: 768px;
    font-size: 16px;
    padding: 0 140px;
  }
}

@media (min-width: 1158px) {
  .container {
    /* Контейнер для комп. версии */
    max-width: 1440px;
  }
}
